Source: dtkwidget
Section: libdevel
Priority: optional
Maintainer: Shanshan Ye <yeshanshan@uniontech.com>
Build-Depends: debhelper-compat (= 12),
    cmake,
    pkg-config,
    libgtest-dev,
    libudev-dev,
    libxext-dev,
    x11proto-xext-dev,
    libxcb-util0-dev,
    libstartup-notification0-dev,
    libmtdev-dev,
    libegl1-mesa-dev,
    libfontconfig1-dev,
    libfreetype-dev,
    libglib2.0-dev,
    libxrender-dev,
    libxi-dev,
    libcups2-dev,
    libdtkcore-dev <!nodtk5>,
    libdtkgui-dev <!nodtk5>,
    libdtkcore5-bin <!nodtk5>,
    qtbase5-dev <!nodtk5>,
    qtbase5-private-dev <!nodtk5>,
    qttools5-dev-tools <!nodtk5>,
    qttools5-dev <!nodtk5>,
    libqt5x11extras5-dev <!nodtk5>,
    libqt5svg5-dev <!nodtk5>,
    libgsettings-qt-dev <!nodtk5>,
    libdtk6core-dev <!nodtk6>,
    libdtk6gui-dev <!nodtk6>,
    libdtk6core-bin <!nodtk6>,
    qt6-base-dev <!nodtk6>,
    qt6-base-private-dev <!nodtk6>,
    qt6-tools-dev-tools <!nodtk6>,
    qt6-tools-dev <!nodtk6>,
    qt6-svg-dev <!nodtk6>,
    doxygen <!nodoc>
Standards-Version: 3.9.8

Package: libdtk6widget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtkdata
Multi-Arch: same
Build-Profiles: <!nodtk6>
Description: Deepin graphical user interface library (DTK6 with Qt6)
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the shared libraries.

Package: libdtk6widget-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version})
Build-Profiles: <!nodtk6>
Description: Deepin graphical user interface library utilities (DTK6 with Qt6)
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the utilities which are
 needed for developing Deepin applications.

Package: libdtk6widget-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version}),
 libdtk6core-dev, libdtk6gui-dev, libcups2-dev
Build-Profiles: <!nodtk6>
Description: Deepin graphical user interface library (DTK6 with Qt6)
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the header files and static libraries which are
 needed for developing Deepin applications.

Package: dtk6widget-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6widget( =${binary:Version}), libdtkdata
Build-Profiles: <!nodtk6>
Description: dtk6widget-examples is generated by dtk6widget.
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing Deepin applications.

Package: libdtk6widget-doc
Architecture: any
Build-Profiles: <!nodtk6 !nodoc>
Description: Deepin graphical user interface library (DTK6 with Qt6 Document)
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing Deepin applications.

Package: libdtkwidget5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtkdata,
  libqt5widgets5(>= 5.11.3.33) | libqt5widgets5(<= 5.11.3.28)
Multi-Arch: same
Build-Profiles: <!nodtk5>
Description: Deepin graphical user interface library
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the shared libraries.

Package: libdtkwidget5-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtkwidget5( =${binary:Version})
Build-Profiles: <!nodtk5>
Description: Deepin graphical user interface library utilities
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the utilities which are
 needed for developing Deepin applications.

Package: libdtkwidget-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtkwidget5( =${binary:Version}),
 libqt5x11extras5-dev, libdtkcore-dev, libqt5svg5-dev,
 libdtkgui-dev, libcups2-dev
Build-Profiles: <!nodtk5>
Description: Deepin graphical user interface library
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the header files and static libraries which are
 needed for developing Deepin applications.

Package: dtkwidget5-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtkwidget5( =${binary:Version}), libdtkdata
Build-Profiles: <!nodtk5>
Description: dtkwidget-examples is generated by dtkwidget.
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing Deepin applications.

Package: dtkwidget-doc
Architecture: any
Build-Profiles: <!nodtk5 !nodoc>
Description: Deepin graphical user interface library (Document)
 DtkWidget is Deepin graphical user interface for deepin desktop development.
 .
 This package contains example application which are
 needed for developing Deepin applications.
