name: deploy docs
on:
  push:
    branches: ["master"]
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploydocs:
    uses: linuxdeepin/.github/.github/workflows/deploy-dev-doc.yml@master
    with:
      ref: ${{ inputs.tag }}
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
